.restaurants {
  cursor: pointer;
  display: grid;
  grid-template-areas:
    "image image"
    "titre coeur"
    "adresse coeur";
  flex-direction: column;
  margin: 0 auto 2rem auto;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 1rem;
  box-shadow: $shadow;
  grid-template-columns: 85% 15%;
  max-width: 360px;

  &.nouveau::after {
    // position: absolute;
    right: 15px;
    background-color: #99e2d0;
    height: 25px;
    width: 100px;
    color: #0c8e6e;
    content: "nouveau";
    margin-top: -75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(100% - 65px);
  }

  img {
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    width: 100%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    grid-area: image;
  }

  address {
    grid-area: adresse;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    font-style: normal;
    font-size: 1.3em;
  }
  i {
    grid-area: coeur;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
    font-weight: normal;
  }
  i:hover {
    font-weight: bold;
    background: linear-gradient(#d46edc, #a85edc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50rem;
    background-position-y: 4rem;
    animation: 1s forwards remplissage;
  }
  h2 {
    margin: 0;
    padding: 1rem 1rem 0.5rem 1rem;
  }
}

@keyframes remplissage {
  from {
    background-position-y: 4rem;
  }
  to {
    background-position-y: 2rem;
  }
}
