<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue | Oh My Food</title>
    <script src="https://kit.fontawesome.com/2793c1abba.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header> <img src="./images/logo/ohmyfood.png" alt="logo" /></header>

    <label>
        <i class="fas fa-map-marker-alt"></i>
        <input placeholder="Paris, Belleville" type="text">
    </label>
    <section id="accueil">
        <h1> Réservez le menu qui vous convient</h1>
        <p> Découvrez des restaurants d'exception, sélectionnés par nos soins.</p>
        <div><button>Explorer nos restaurants</button></div>
    </section>

    <section id="fonctionnement">

        <h2>Fonctionnement</h2>
        <ol>
            <li><i class="fas fa-mobile-alt"></i>Choisissez un restaurant</li>
            <li><i class="fas fa-list"></i>Composez votre menu</li>
            <li><i class="fas fa-store"></i>Déguster au restaurant</li>
        </ol>

    </section>
    <main>
        <h3>Restaurants</h3>
        <%- include( "../partials/restaurant/restaurant.html" , { "url" : "la-palette-du-gout" , "titre"
            : "La palette du goût" , "adresse" : "Ménilmontant" , "classe" : "nouveau" } ); %>

            <%- include('../partials/restaurant/restaurant.html',{ "url" : "la-note-enchantee" , "titre"
                : "La note enchantée" , "adresse" : "Charonne" , "classe" : "nouveau" }); %>

                <%- include('../partials/restaurant/restaurant.html',{ "url" : "a-la-francaise" , "titre"
                    : "A la française" , "adresse" : "Cité rouge" , "classe" : "" }); %>

                    <%- include('../partials/restaurant/restaurant.html',{ "url" : "le-delice-des-sens" , "titre"
                        : "Le délice des sens" , "adresse" : "Folie-Méricourt" , "classe" : "" }); %>
    </main>
    <%- include('../partials/footer/footer.html'); %>
        <div id ="loader">
            <i class="fas fa-utensils"></i>
        </div>
</body>

</html>