<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test2</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>hello :)</h1>
    <section>
        <%- include('../partials/restaurant/restaurant.html', {
            "titre" : "le chic à la francaise",
            "image" : "----"
        }); %>
        <%- include('../partials/restaurant/restaurant.html', {
            "titre" : "la palette du goût",
            "image" : "----"
        }); %>
    </section>
    <%- include('../partials/footer/footer.html'); %>
</body>
</html>