<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le délice des sens | Oh My Food</title>
    <script src="https://kit.fontawesome.com/2793c1abba.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="menus">
    <header> <a href="index.html"><i class="fas fa-arrow-left"></i></a><img src="./images/logo/ohmyfood.png"
            alt="logo" /></header>

    <main>
        <img src="./images/restaurants/le-delice-des-sens.jpg" alt="Le délice des sens">

        <h1>La palette du goût <i class="far fa-heart"></i></h1>

        <section class="menu">
            <h2>ENTREES</h2>

            <%- include('../partials/plat/plat.html', { "titre" : "Tartare de thon" , "texte" : "Assaisonné au yuzu"
                , "prix" : "25" }); %>

                <%- include('../partials/plat/plat.html', { "titre" : "Bouchée de homard croustillant" , "texte"
                    : "Et sa farandole de petits légumes" , "prix" : "35" }); %>

                    <%- include('../partials/plat/plat.html', { "titre" : "Velouté de cèpes" , "texte" : "Aux truffes"
                        , "prix" : "20" }); %>

        </section>


        <section class="menu">
            <h2>PLATS</h2>

            <%- include('../partials/plat/plat.html', { "titre" : "Poulet rôti aux herbes de Provence" , "texte"
                : "Et sa crème de truffe" , "prix" : "40" }); %>

                <%- include('../partials/plat/plat.html', { "titre" : "Langouste rôtie" , "texte"
                    : "Et ses légumes de saison" , "prix" : "35" }); %>

                    <%- include('../partials/plat/plat.html', { "titre" : "Côte de boeuf Angus" , "texte"
                        : "Et sa purée de panais" , "prix" : "44" }); %>
        </section>


        <section class="menu">
            <h2>DESSERTS</h2>

            <%- include('../partials/plat/plat.html', { "titre" : "Farandole de desserts" , "texte" : "Du chef" , "prix"
                : "18" }); %>

                <%- include('../partials/plat/plat.html', { "titre" : "Crème brulée" , "texte" : "Revisitée" , "prix"
                    : "22" }); %>

                    <%- include('../partials/plat/plat.html', { "titre" : "Tiramisu" , "texte" : "À la noisette"
                        , "prix" : "23" }); %>
        </section>

        <div><button>Commander</button></div>

    </main>
    <%- include('../partials/footer/footer.html'); %>
</body>