$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$background: #f6f6f6;
$shadow: 0 3px 5px 3px #ededed;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  margin: 25px auto 15px auto;

  img {
    width: 58%;
    @media screen AND (min-width: 768px) {
      width: 30%;
    }
  }
}

button {
  background: linear-gradient(#e06fda, #a55bdb);
  border-style: none;
  border-radius: 50px;
  width: 70%;
  height: 50px;
  font-size: 18px;
  color: white;
  white-space: nowrap;
}

#accueil {
  background-color: $background;
}
div {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
}
main {
  background-color: $background;
}

h1 {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  width: 80%;
  margin: 0;
  padding: 1.5em 1em 0 1em;
  @media screen and (min-width: 768px)
  {
  width: 100%;
  }
}


p {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #707070;
  padding: 1.5em 0 1em 0;
}

h3 {
  font-weight: bold;
  font-size: 23px;
  height: 70px;
}
